/* Глобальные стили */
body {
    width: auto;
    font-family: 'Avenir Next', monospace;
    margin: 0;
    padding: 0;
    background-color: black;
    color: #f8f8f2;
  }
  
  a {
    color: #bd93f9;
    transition: color 0.3s ease;
  }
  
  a:hover {
    color: #ff79c6;
  }
  
